@model Web.Models.VisitViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create visit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Client: @Model.FirstName @Model.LastName</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ClientId)

        <div class="form-group">
            @Html.LabelFor(model => model.VisitData, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisitData)
                @Html.ValidationMessageFor(model => model.VisitData)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderAmount)
                @Html.ValidationMessageFor(model => model.OrderAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OrderStatus, new[]
           {
                new SelectListItem() {Text = "In progress", Value = "InProgress" },
                new SelectListItem() {Text = "Completed", Value = "Completed" },
                new SelectListItem() {Text = "Cancelled", Value = "Cancelled" }
           })
                @Html.ValidationMessageFor(model => model.OrderStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
