@model Web.Models.ClientDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightEye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEye)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit client", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to client list", "Index")
    </p>
    <p>
        <a href="/Visits/Create?ClientId=@Model.Id">Add visit</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th>№</th>
            <th>Visit date  </th>
            <th>Order amount </th>
            <th>Order status</th>
            <th></th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Visits.Count; i++)
        {
            var item = Model.Visits[i];
            var displayIndex = i + 1;
            var dialogId = "dialog" + item.Id;

            <tr>
                <td>@displayIndex</td>
                <td>@item.VisitData.ToShortDateString()</td>
                <td>@item.OrderAmount </td>
                <td>@item.OrderStatus</td>
                <td><a href="/Visits/Edit/@item.Id">Edit</a> </td>
                <td>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="modal" data-target="#@dialogId"></span>
                    <!-- Modal -->
                    <div class="modal fade" id="@dialogId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Delete visit</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" href="/Visits/Delete/@item.Id?ClientId=@Model.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
