@model Web.Models.ClientDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeftEye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeftEye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RightEye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RightEye)
        </dd>

    </dl>
    <p><a href="/Visits/Create?ClientId=@Model.Id">Add Visit</a></p>
    <table class="table table-striped">
        @for (int i = 0; i < Model.Visits.Count; i++)
        {
            var item = Model.Visits[i];
            var displayIndex = i + 1;

            <tr>
                <td>@displayIndex</td>
                <td>@item.VisitData  </td>
                <td>@item.OrderAmount </td>
                <td>@item.OrderStatus</td>
                <td><a href="/Visits/Edit/@item.Id">Edit</a> </td>
                <td> <a href="/Visits/Delete/@item.Id?ClientId=@Model.Id">Delete</a> </td>
                <td><a href="/Visits/Create?ClientId=@item.Id">Add visit</a></td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
